# prevent github from displaying the repository as ASM or HTML due to documentation and data files
useful_documents/** linguist-documentation
help/** linguist-documentation
licenses/* linguist-documentation

external/** linguist-vendored

source/data/* linguist-generated
source/platform/psp/glib2d.c linguist-vendored
source/platform/psp/glib2d.h linguist-vendored

*.lisp linguist-language=lisp
*.s linguist-language=Assembly
